*{
    margin: 0 auto;
    padding: 0;
}


input{
    width: 100%;
    padding: 7px;
    margin-top: 5px;
}

.engWord{
    width: 200px;

}

.engWord > div{
    margin: 5px 0 15px 0;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

